<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')  %> 
<body>
  <%- include('partials/header')  %> 

   <main>
     <section class="d-flex justify-content-center align-items-center" style="height: 50vh;">
      <% if (typeof nombre !== 'undefined' && nombre) { %>
        <h1>Bienvenido <%= nombre %> </h1>
      <% }else{ %>
        <h1>Usuario desconocido</h1>
      <% } %>
     </section>
     <section>
      <ul class="alert-primary">
        <% peliculas.forEach(pelicula => { %>
          <li>El nombre de la pelicula es <b><%= pelicula %> </b> y es de <%= genero %>  </li>
          <% }) %>
      </ul>
     </section>
   </main>
    






   <%- include('partials/scripts')  %> 

</body>
</html>